{% extends 'base.html' %}
{% block title %}
Commercial
{% endblock %}
{% block content %}

<img style="margin-left: 2px; margin-right: 2px;" src="/static/commercial5.jpg" class="d-block w-100" alt="...">
{% if session['loggedin'] %}
<div class="residential" style="margin-left: 10px; margin-top: 50px; margin-right: 10px;">
	<form>
		<div class="row mb-3">
			<label for="phone" class="col-sm-2 col-form-label">Phone</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="phone">
			</div>
		</div>
		<div class="row mb-3">
			<label for="address" class="col-sm-2 col-form-label">Address</label>
			<div class="col-sm-5">
				<textarea style="background-color:black; color:beige; height: 200px;" class="form-control"
					placeholder="Leave a comment here" id="address"></textarea>
			</div>
		</div>
		<div class="row mb-3">
			<label for="industry" class="col-sm-2 col-form-label">Brief info about company.</label>
			<div class="col-sm-5">
				<textarea style="background-color:black; color:beige; height: 200px;" class="form-control"
					placeholder="Leave a comment here" id="industry"></textarea>
			</div>
		</div>
		<div class="row mb-3">
			<label for="area" class="col-sm-2 col-form-label">Approx Roof Area<br>(in sq. feet)</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="area">
			</div>
		</div>
		
		<br>
		<div class="row mb-3">
			<label for="address" class="col-sm-2 col-form-label">Note</label>
			<div class="col-sm-5">
				<span style="color:beige; font-size: larger;">A $20 visit & inspection fee needs to be paid.
					In case SolarAura isn't able to reach out to you, the refund will be made to the original account
					within 2 weeks.
					Further budget will be discussed on visit.
				</span>
			</div>
		</div>
		<button id="buy_now_btn" class="btn btn-primary btn-lg">Proceed</button>
	</form>
</div>

{% else %}

<marquee scrollamount="20">
<h1 style="color:beige">Please Login to Proceed Further!!</h1>
</marquee>

{% endif %}

{% endblock %}