{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}

<style>
	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
div{
    display: inline-block;
}
.support-country {
    background: linear-gradient(45deg, #FFB6C1, #FF69B4);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.support-country:hover {
    transform: scale(1.02);
}
.group-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.group-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.group-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.group-item {
    flex: 1;
    min-width: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    background-color: #FFD700;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.group-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.item-title {
    font-size: 18px;
    color: #FF69B4;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.item-detail {
    font-size: 20px;
    color: #333;
}
.item-link {
    color: #FF69B4;
    text-decoration: none;
    transition: color 0.3s;
}

.item-link:hover {
    text-decoration: underline;
    color: #FF1493;
}
</style>

<center>
	<div class="support-country group" style="width: 70%;">
		<center>
			<h1 class="group_title"><b>EUROPE</b></h1>
			<table style="width: 70%; border-collapse: separate; border-spacing: 50px;">
				<tr>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">France</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 FST</span><br>
								<span class="item_detail">+33524780</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.fr.solaraura.com">
										service.fr@support.fr.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Spain</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
								<span class="item_detail">+34845032</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.sp.solaraura.com">
										service.fr@support.sp.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
				</tr>
				<tr>
					<td>
						<center>
							<<div class="group_ item">
								<h4 class="item_title">United Kingdom</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 UKST</span><br>
								<span class="item_detail">+446329780</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.uk.solaraura.com">
										service.fr@support.uk.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Germany</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 GST</span><br>
								<span class="item_detail">+498943780</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.gm.solaraura.com">
										service.fr@support.gm.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</div>
	<div class="support-country group" style="width: 70%;">
		<center>
			<h1 class="group_title"><b>ASIA</b></h1>
			<table style="width: 70%; border-collapse: separate; border-spacing: 50px;">
				<tr>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">India</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 IST</span><br>
								<span class="item_detail">+91837240</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.ind.solaraura.com">
										service.fr@support.ind.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Taiwan</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 TST</span><br>
								<span class="item_detail">+8864902</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.tw.solaraura.com">
										service.fr@support.tw.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
				</tr>
				<tr>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Singapore</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
								<span class="item_detail">+653789921</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.sg.solaraura.com">
										service.fr@support.sg.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">China</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 CST</span><br>
								<span class="item_detail">+86243780</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.ch.solaraura.com">
										service.fr@support.ch.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</div>
	<div class="support-country group" style="width: 70%;">
		<center>
			<h1 class="group_title"><b>NORTH AMERICA</b></h1>
			<table style="width: 70%; border-collapse: separate; border-spacing: 50px;">
				<tr>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">United States</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 EST</span><br>
								<span class="item_detail">+1837240</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.us.solaraura.com">
										service.fr@support.us.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Mexico</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 TST</span><br>
								<span class="item_detail">+52314902</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.mx.solaraura.com">
										service.fr@support.mx.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
				</tr>
				<tr>
					<td>
						<center>
							<div class="group_ item">
								<h4 class="item_title">Canada</h4>
								<span class="item_detail"> Mon--Fri 9:00-20:00 SST</span><br>
								<span class="item_detail">+15789921</span><br>
								<span class="item_detail">
									<a class="item_link" href="mailto:service.fr@support.cd.solaraura.com">
										service.fr@support.cd.solaraura.com</a>
								</span>
							</div>
						</center>
					</td>
					<td>
						<center>
							<div class="group_ item">
								
							</div>
						</center>
					</td>
				</tr>
			</table>
		</center>
	</div>
</center>

{% endblock %}