{% extends 'base.html' %}
{% block title %}
SolarAura
{% endblock %}
{% block content %}


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/static/1carousel1.jpg" class="d-block w-100" alt="...">

		</div>

		<div class="carousel-item">
			<img src="/static/2carousel1.jpg" class="d-block w-100" alt="...">
		</div>

		<div class="carousel-item">
			<img src="/static/3carousel1.jpg" class="d-block w-100" alt="...">

		</div>

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
		data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
		data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="div1">
	<table class="table1">
		<tr>
			<td class="col11">
				<img id="col11img" src="/static/future.png" alt="...">
			</td>
			<td class="col12"><center>
				Chasing the Sun, Catching the Savings <br>
				The future of solar starts now!!
			</center>
			</td>
		</tr>
	</table>
</div>
<div class="div2">
	<table>
		<tr>
			<td class="col21">
				<div style="margin-left: 5px;"><b>
						Efficient and Affordable<br>
						Solar Solutions for a <br>
						Greener Tomorrow</b>
				</div>
			</td>
			<td class="col22">
				<br><br>
				<img id="col22img" src="/static/cost_details.webp">
				<br><br>
			</td>
		</tr>
	</table>
</div>
<div class="div3">
	<table>
		<tr>
			<td class="col31">
				<br><br>
				<img id="col22img" src="/static/cost_details2.webp">
				<br><br>
			</td>
			<td class="col32">
				<div>
					<b>
						We assist you in selecting the ideal location for solar panel installation. Finding the right
						spot ensures maximum energy efficiency and cost savings.
					</b>
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="div4">
	<center>
		<span style="font-size: 50px;">Trusted by businesses, loved by people...</span>
	</center>
	<table id="table2">
		<tr id="businesses_name">
			<td class="review">
				<h1>Wallbox, Utah</h1>
			</td>
			<td class="review">
				<h1>WaterFleet, Frankfurt</h1>
			</td>
			<td class="review">
				<h1>Deborah, Melbourne</h1>
			</td>
		</tr>
		<tr id="businesses_opinion">
			<td class="review">
				<h5>
					"🌞☀️ Exciting news, world! Just had a fantastic experience with #SolarAura, the game-changers in
					solar installation. From start to finish, they made going green a breeze! 🌱🔌 Stellar customer
					service, top-notch panels, and eco-friendly solutions. Highly recommend! #CleanEnergy"
				</h5>
			</td>
			<td class="review">
				<h5>
					"Thrilled to share my recent experience with #SolarAura! 🌞😃 They transformed the place into a
					green
					energy powerhouse with their top-tier solar installation. ♻️🔋 Professional, efficient, and
					sustainable – they've got it all! Take the leap towards a brighter, greener future with #SolarAura!"
					☀️🌿
				</h5>
			</td>
			<td class="review">
				<h5>
					"Just had #SolarAura install solar panels on factory roof, and we're over the moon! 🌞🏡 Their
					expertise
					and commitment to clean energy are unmatched. Our energy bills are shrinking, and we are reducing
					carbon footprint. Thanks, SolarAura, for lighting up our life with sunshine and sustainability! ☀️🌱
					#SolarPower #GoGreen"
				</h5>
			</td>
		</tr>

		<tr id="businesses_name">
			<td class="review">
				<h1>Admiral John Smith</h1>
			</td>
			<td class="review">
				<h1>Dr. Sheldon Cooper</h1>
			</td>
			<td class="review">
				<h1>Antonio Gracias</h1>
			</td>
		</tr>
		<tr id="businesses_opinion">
			<td class="review">
				<h5>
					"I'm so impressed with SolarAura's commitment to a greener future! Their rooftop solar panel project
					is a shining example of innovation and environmental stewardship. 🌞🏠♻️ #SolarEnergy #ClimateAction
					#SolarAura"
				</h5>
			</td>
			<td class="review">
				<h5>
					"Thanks to SolarAura, our neighborhood is now powered by the sun! 🌞🔌 Their rooftop solar panels
					are not only saving us money but also reducing our carbon footprint. Way to go, SolarAura! 🙌💚
					#SolarPower #GreenLiving #SolarAura"
				</h5>
			</td>
			<td class="review">
				<h5>
					"A round of applause for SolarAura! Their rooftop solar panels are a testament to their commitment
					to a brighter, more sustainable future. 🌞🌿 Thank you for your eco-conscious efforts! 👏💙
					#SolarEnergy #GreenLiving #SolarAura"
				</h5>
			</td>
		</tr>
	</table>
</div>

{% endblock %}